# Mazu default configuration
# Hard-RT baseline: SMP, latency tracing, rich TCP/IP, virtio-blk, semihosting
CONFIG_SMP=y
CONFIG_CPU_MAX=4
CONFIG_SCHED_DEADLINE=y
CONFIG_MIXED_CRIT=y
CONFIG_MEASURE_LATENCY=y
CONFIG_RAMFS_WRITABLE=y
CONFIG_VIRTIO_BLK=y
CONFIG_NET_UDP=y
# CONFIG_DHCP is not set
CONFIG_NET_MDNS=y
CONFIG_TCP_SACK=y
CONFIG_SEMIHOSTING=y
CONFIG_EVENTLOG=y
