# Mazu RT configuration
# Real-time bundle (SMP), latency measurement, semihosting
CONFIG_CPU_MAX=4
CONFIG_SMP=y
CONFIG_MEASURE_LATENCY=y
CONFIG_NET_UDP=y
# CONFIG_DHCP is not set
CONFIG_NET_MDNS=y
CONFIG_TCP_SACK=y
CONFIG_SEMIHOSTING=y
